src/main/app/order-fulfillment-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" 
	xmlns:json="http://www.mulesoft.org/schema/mule/json" 
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" 
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
    
    
    <flow name="order-fulfillment-api-main">
        <http:listener config-ref="order-fulfillment-api-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="order-fulfillment-api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="order-fulfillment-api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="order-fulfillment-api-console">
        <http:listener config-ref="order-fulfillment-api-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="order-fulfillment-api-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="post:/orders:order-fulfillment-api-config">
        <dw:transform-message doc:name="save to var inputOrder">
            <dw:set-variable variableName="inputOrder"><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-variable>
        </dw:transform-message>
        <flow-ref name="checkAvailability" doc:name="checkAvailability"/>
        <flow-ref name="reserveOrderItems" doc:name="reserveOrderItems"/>
        <flow-ref name="createOrder" doc:name="createOrder"/>
        <choice doc:name="Successfully created?">
            <when expression="#[flowVars.order != null]">
                <flow-ref name="processPayment" doc:name="processPayment"/>
                <flow-ref name="updateOrderStatus" doc:name="updateOrderStatus"/>
                <async doc:name="Async">
                    <flow-ref name="sendNotificationEmail" doc:name="sendNotificationEmail"/>
                </async>
                <dw:transform-message doc:name="build response">
                	<dw:input-variable mimeType="application/java" variableName="order]"/>
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"status": "created",
	"orderId": flowVars.order.orderId
}]]></dw:set-payload>
                </dw:transform-message>
            </when>
            <otherwise>
                <dw:transform-message doc:name="Failure">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	id: null,
	status: "failed",
	message: "Order creation failed"
}]]></dw:set-payload>
                </dw:transform-message>
            </otherwise>
        </choice>
    </flow>
    
    
    
    <sub-flow name="checkAvailability">
        <foreach collection="#[flowVars.inputOrder.orderItems]" doc:name="For Each OrderItem">
            <set-variable variableName="currentItem" value="#[payload]" doc:name="var currentItem"/>

            <http:request config-ref="product-availability-api" path="/locations/{locationId}/availability" method="GET" doc:name="Check availability">
                <http:request-builder>
                    <http:query-param paramName="variantId" value="#[payload.itemId]"/>
                    <http:query-param paramName="productId" value="#[payload.productId]"/>
                    <http:query-param paramName="locationType" value="#[payload.location.locationType]"/>
                    <http:uri-param paramName="locationId" value="#[payload.location.locationId]"/>


                </http:request-builder>
            </http:request>
            <dw:transform-message doc:name="check availability">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload.quantity >= flowVars.currentItem.quantity

]]></dw:set-payload>
            </dw:transform-message>
            <validation:is-true expression="#[payload]" doc:name="All items must be available"/>
        </foreach>
    </sub-flow>
    
    <sub-flow name="reserveOrderItems">
        <foreach collection="#[flowVars.inputOrder.orderItems]" doc:name="For Each Order Item">
            <dw:transform-message doc:name="reservation request">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{     
  "variantId": payload.itemId,
  "productId": payload.productId,
  "locationId": payload.location.locationId, 
  "deliveryMethod": payload.location.deliveryMethod,
  "locationType": payload.location.locationType, 
  "quantity": payload.quantity, 
  "customerId": flowVars.inputOrder.customerId   
}]]></dw:set-payload>
            </dw:transform-message>
            <http:request config-ref="product-availability-api" path="/reservation" method="POST" doc:name="Reserve order item">
                <http:request-builder>
                    <http:header headerName="Content-Type" value="application/json"/>
                </http:request-builder>
            </http:request>
        </foreach>
    </sub-flow>
    
    <sub-flow name="createOrder">
        <enricher source="#[payload]" target="#[flowVars.order]" doc:name="var order">
            <processor-chain doc:name="Processor Chain">
                <dw:transform-message doc:name="map input to Order API">
                    <dw:input-variable variableName="inputOrder"/>
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	price: flowVars.inputOrder.price,
	status: "Draft",
	orderItems: {
	  pickupItems : (flowVars.inputOrder.orderItems filter $.location.locationType == "STORE") 
	  	map (orderItem) -> {
			orderItemId: orderItem.itemId,
			locationId: orderItem.location.locationId,
			deliveryMethod: orderItem.location.deliveryMethod,
			productId: orderItem.productId,
			productName: orderItem.name,
			quantity: orderItem.quantity
	  },
	  shipmentItems : (flowVars.inputOrder.orderItems filter $.location.locationType == "WAREHOUSE") 
	  	map (orderItem) -> {
			orderItemId: orderItem.itemId,
			locationId: orderItem.location.locationId,
			deliveryMethod: orderItem.location.deliveryMethod,
			productId: orderItem.productId,
			productName: orderItem.name,
			quantity: orderItem.quantity
	  },
	  partnersItems : (flowVars.inputOrder.orderItems filter $.location.locationType == "PARTNER") 
	  	map (orderItem) -> {
			orderItemId: orderItem.itemId,
			locationId: orderItem.location.locationId,
			deliveryMethod: orderItem.location.deliveryMethod,			
			productId: orderItem.productId,
			productName: orderItem.name,
			quantity: orderItem.quantity
	  }
	}
}]]></dw:set-payload>
                </dw:transform-message>
                <http:request config-ref="orders-api" path="/orders/customer/{customerId}" method="POST" doc:name="Create Order">
                    <http:request-builder>
                        <http:uri-param paramName="customerId" value="#[ flowVars.inputOrder.customerId ]"/>
                        <http:header headerName="Content-Type" value="application/json"/>
                    </http:request-builder>
                </http:request>
                <json:json-to-object-transformer returnClass="java.util.Map" mimeType="application/java" doc:name="JSON to Object"/>
            </processor-chain>
        </enricher>
    </sub-flow>
    
    <sub-flow name="processPayment">
        <dw:transform-message doc:name="prepare payment request">
        	<dw:input-variable mimeType="application/java" variableName="order"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
  "price": {
    "amount": {
      "currency": "USD",
      "currencyValue": flowVars.inputOrder.price,
      "name": "Amount"
    },
    "salesUnit": {
      "code": "EA",
      "name": "Each"
    }
  },
  "customer": {
    "paymentMethod": "BANK",
    "orderId": flowVars.order.id,
    "customerId": flowVars.inputOrder.customerId
  }
}]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="payment-process-api" path="/processPayment" method="POST" doc:name="Payment">
            <http:request-builder>
                <http:header headerName="Content-Type" value="application/json"/>
            </http:request-builder>
        </http:request>
    </sub-flow>
    
    <sub-flow name="updateOrderStatus">
        <dw:transform-message doc:name="Update status to Processing">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	status: "Processing"
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="XXXXXXXXXXX #[message]" level="INFO" doc:name="Logger"/>
        <http:request config-ref="orders-api" path="/orders/{orderId}/status" method="PUT" doc:name="Update order status">
            <http:request-builder>
                <http:uri-param paramName="orderId" value="#[flowVars.order.orderId]"/>

            </http:request-builder>
        </http:request>
    </sub-flow>
    
    <sub-flow name="sendNotificationEmail">
        <logger level="INFO" doc:name="Send Notification to user (email)"/>
        <http:request config-ref="customers-api" path="/customers/{customerId}" method="GET" doc:name="Get Customer info">
            <http:request-builder>
                <http:uri-param paramName="customerId" value="#[flowVars.inputOrder.customerId]"/>
            </http:request-builder>
        </http:request>
        <dw:transform-message doc:name="build notification e-mail">
            <dw:input-variable mimeType="application/java" variableName="order]"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
    type: "EMAIL",
    priority: "MINOR",
    recipient: payload.emailAddress,
    subject: "Order - $(flowVars.order.orderId) | Anypoint Store",
    message: "Hello,

Your order [ $(flowVars.order.orderId) ] has been placed.
We will inform you about future updates.

Thanks,
MuleSoft Team"
        
}]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="notifications-api" path="/notifications" method="POST" doc:name="Send e-mail notification">
            <http:request-builder>
                <http:header headerName="Content-Type" value="application/json"/>
            </http:request-builder>
        </http:request>
    </sub-flow>
    
    
    
    <apikit:mapping-exception-strategy name="order-fulfillment-api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
